@import url(reset.css);

@import url(syntax.css);

header, article, nav {
	display: block;
}

body {
  max-width: 80rem;
  color: #223;
  background-color: #334;
  font-size: 100%;
  font-family: "Helvetica","Arial",sans-serif;
}

body * {
  font-size: 1em;
}

header {
	width: 100%;
  color: #ec8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  margin-bottom: 1%; 
  padding: 1%;
  color: #455;
  background-color: #789;
  border-color: #667;
  border-color: #667;
  border-radius: 2px;
}
header nav {
  font-family: "Lucida Grande","Helvetica","Arial",sans-serif;
  font-size: 2rem;
}

header nav .navbar-header {
	display: inline-block;
}
header nav ul {
  float: right;
  overflow: hidden;
  padding: .1rem 1rem;

}
header nav li {
  display: inline;
  font-size: 1rem;
  text-align: center;
}
header nav li a {
  
  padding: .1rem 1rem;
  border-right: .1rem solid;
}

h1 {
  font-family: "Georgia","Times New Roman",sans-serif;
  font: 2.4em normal;
}
h2 {
  font-family: "Georgia","Times New Roman",sans-serif;
  font: 1.8em normal;
  margin-top: 1em;
}
h3 {
  font-family: "Georgia","Times New Roman",sans-serif;
  font: 1.4em normal;
  margin-top: 1em;
}

table {
  margin: 1em 1em;
  text-align: center;
  vertical-align: middle;
}

th {
  background: #999;
}

table, th, td {
  border: 1px solid #000;
}

th, td {
  padding: .5em;
}

a {
  font-weight: bold;
  text-decoration: none;
}
a:link {
  color: #445;
}
a:visited {
  color: #ed0099;
}
a:hover {
  color: #667;
  background-color: #fb5;
}
a:active {
  color: #778;
  background-color: #ec8;
}
header nav a:link, header nav a:visited {
  color: #eef;
  background-color: transparent;
  border-color: #99a;
}
header nav a:hover {
  color: #445;
  background-color: #eb6;
}
header nav a:active {
  color: #667;
  background-color: #ec8;
}

p {
  margin: 1em 0;
}

.main {
	width: 75%;
	margin: 4% auto; 
}
/* post
 * post articles area
 */
.post{
	padding: 4%;
	font-size: 16px;
	border-width: .1em;
  border-style: solid;
  border-radius: 2px;  
  background-color: #789;
  border-color: #999;
	/* -webkit-text-size-adjust: 100%; */
}

article {
  line-height: 1.5em;
  color: #223;
  overflow: auto;
}

#index .col-sm-9 {
	margin: 1% auto;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
	background-color: #789;
	width: auto; 
}

.post-list-header{
	padding: 15px 30px;
	border-bottom: 1px solid #c0c0c0;
}
.post-list-item{
	display: block;
	padding:8px 30px 10px 30px; 
	border-bottom:1px solid #ddd;

	transition:0.4s ease; 
}
.post-list-item:last-of-type{
	border-bottom: none;
}
.post-list-item h2{
	font-size: 20px;
	margin: 8px 0 8px 0;
	padding: 0;
}

/* footer */
footer{
	min-height: 50px;
	line-height: 50px;
	margin-top: 80px;
	background: #3f4850;
	color: #aaa;
	text-align: center;
	box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
}