section, header, article, nav {
	display: block;
}

body {
  margin: 1rem auto;
  padding: 2%;
  width: 80%;
  max-width: 80rem;
}


header nav {
  padding-left: 1%;
}

header nav ul {
  width: 100%;
  overflow: hidden;
  padding: .1rem 1rem;
  border-left-width: .1rem;
  border-left-style: solid;
}
header nav li {
  display: inline;
}
header nav li a {
  display: block;
  float: left;
  padding: .1rem 1rem;
  border-right: .1rem solid;
}
article {
  border-width: .1em;
  border-style: solid;
  padding: 1em;
  line-height: .5em;
}
article img {
  border-width: .1em;
  border-style: solid;
  outline-width: .1em;
  outline-style: solid;
}