<!--　post　模板使用了　default 布局　-->
<!--　将页面设置为　HTML 5 页面类型　-->
<!DOCTYPE html>
<!--　设置语言为　English　-->
<html lang="en">
<!--　用　include 引入头文件信息　-->
{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">
<!--　依次引入导航栏，正文和脚注　-->
    {% include nav.html %}

    {{ content }}

	<div id="top" data-toggle="tooltip" data-placement="left" title="回到顶部">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>

    {% include footer.html %}

<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
